.App {
    text-align: center;
    color: black;
    background-color: #fffbf7;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@font-face {
    font-family: myHeaderTitleFont;
    src: url(AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: myHeaderSubTitleFont;
    src: url(Ubuntu-Regular.ttf);
}

.App-header {
    width: 100%;
    background-color: #f3bc58;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.App-header-title {
    font-family: myHeaderTitleFont;
    font-size: 400%;
}

.App-header-subtitle {
    font-family: myHeaderSubTitleFont;
    font-weight: bolder;
}

.App-filters {
    font-family: myHeaderSubTitleFont;
    background-color: #dcc9b5;
    margin-left: 20px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
}

.App-filter-title {
    font-family: myHeaderTitleFont;
    font-size: 250%;
}

.App-filter-subtitles {
    font-weight: bolder;
    padding-top: 4px;
    text-align: left;
    padding-left: 10px;
}

.Location-filter {
    padding-bottom: 10px;
    margin-top: 9px;
    background-color: #f8f2eb;
    border-radius: 7px;
}

.App-restaurants {
    font-family: myHeaderSubTitleFont;
    background-color: #bccde1;
    margin-right: 20px;
    border-radius: 5px;
}

.App-rest-title {
    font-family: myHeaderTitleFont;
    font-size: 250%;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
